div.container

	h1.title.span-24.last
		span.andy andy.
		span.io io

	div.span-12.prepend-6.append-6.last

		div#sendMessage.message.message-top
			form(onsubmit="return false")
				input(type="text")
				input(type="submit")

		ul#recievedMessages

//- image(id="macCursor", style="display: none", src="/images/macCursor.png")

script
	var socket = io.connect();

!= js('messages')
!= js('cursors')
