h1.title
	span.andy andy.
	span.io io

div.row
	div.offset4.span8

		div#sendMessage.message.message-top
			form(onsubmit="return false")
				input(type="text")
				input(type="submit")

		ul#recievedMessages

!=js('vendor/jquery')
!=js('vendor/underscore')
!=js('vendor/backbone')
!=js('lib/utils')
script(src='/socket.io/socket.io.js')
!=js('app')