div.container

	h1.title.span-24.last
		span.andy andy.
		span.io io

	div.span-12.prepend-6.append-6.last

		div#sendMessage.message.message-top
			form(name="sendMessage", action="")
				input(type="text", id="sendMessageText")
				input(type="submit", id="sendMessageButton")

		div#recievedMessages

			
script(type='text/javascript')
	var socket = io.connect();

	socket.on('message', function (data) {
		$('#recievedMessages').prepend("<p class='message'>" + data.message + "</p>")
	});

	$(document).ready(function() {
		$('form').submit(function() {
			$.post('/messages', { message : $('#sendMessageText').val() });
			return false;
		});
	});

	