doctype html
html
	head
		title= title
		!=css('app')
		!=css('bootstrap')
		!=js('vendor/jquery')
		!=js('vendor/underscore')
		!=js('vendor/backbone')
		!=js('lib/utils')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Varela+Round')

	body.container!= body

	footer.footer.row
		a(href='http://andyniccolai.me') Andy Niccolai
		a(href='http://github.com/aniccolai/andy-io') View Source on Github
