!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/app.css')
		link(rel='stylesheet', href='/stylesheets/blueprint/screen.css', media='screen, projection')
		link(rel='stylesheet', href='/stylesheets/blueprint/print.css', media='print')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Varela+Round')
		script(src='/socket.io/socket.io.js')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
	body!= body
